body{
	background: url('../img/1.jpg');
	background-size: cover;
	width: 100%;
	height: 100%;

}


.drivelogo{
	background: url('../img/drivenationlogo.png.png');
	width: 160px;
	height: 120px;
	background-size: cover;
	box-shadow: 0.20;
}

.first{
	background-color: white;
	color:#5a0866;
}

.secondrow{
	color:white;
}

.btncolor{
	background-color: #5a0866;
	color:white;
	width: 150px;
	height: 40px;
}
